.alert_container{

	text-align: center;

	position: absolute;

	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	background-color: $black_80;

	z-index: 500;

	.alert {
		position: absolute;
		margin: auto;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 400px;
		height: 120px;

		@include window; // From _modals.scss
	}

	.header{
		@include window-header; // From _modals.scss
	}

	.body {
		padding: 10px;
	}
}