//urls
$url_3: url('../img/buttons/playButton.png');
$url_4: url('../img/buttons/fwd.png');
$url_5: url(../img/buttons/bwd.png);
$url_6: url(../img/buttons/menu.png);
$url_7: url(../img/buttons/repeat.png);
$url_8: url(../img/buttons/playlist.png);
$url_9: url(../img/buttons/stop.png);
$url_10: url(../img/buttons/qr.png);
$url_11: url(../img/buttons/power.png);
$url_12: url(../img/buttons/settings.png);
$url_13: url(../img/buttons/trash.png);
$url_14: url(../img/buttons/add.png);
$url_15: url(../img/buttons/shuffle.png);
$url_16: url(../img/buttons/wifi.png);
$url_17: url(../img/buttons/bluetooth.png);
$url_18: url(../img/buttons/radio.png);
$burn_icon: url(../img/buttons/burn.png);
$rip_icon: url(../img/buttons/rip.png);
$eq_icon: url(../img/buttons/eq.png);

button, .box-btn, input[type="button"], input[type="submit"], select {
  @extend %ui_button;

  &:hover, &:focus {
    background-color: $highlight_color;
    outline: none;
  }

  &:active, &.active {
    background-color: $highlight_color;
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: inset 0 2px 1px $black_50, 0 1px 2px $black_20;
  }

  &.nuclear {
    background-color: red;
  }
}

select {
  margin: 0;
}

#play {
  width: 37px;
  height: 37px;
  cursor: pointer;
  position: absolute;
  z-index: 50;
  padding: 0;
  bottom: 9px;
  left: 159px;
  background-image: $url_3;
  &:hover {
    background-position: -40px 0;
  }
  &:active {
    background-position: 37px 0;
  }
  &.active {
    background-position: 37px 0;
    &:hover {
      background-position: -40px 0;
    }
    &:active {
      background-position: 0 0;
    }
  }
}

.crcbtn {
  width: 35px;
  height: 35px;
  z-index: 5;
  position: relative;
  display: inline-block;
  cursor: pointer;
  &:hover {
    background-position: -35px 0;
  }
  &:active {
    background-position: 35px 0;
  }
  &.active {
    background-position: 35px 0;
    &:hover {
      background-position: -35px 0;
    }
    &:active {
      background-position: left;
    }
  }
}

.holo-btn {
  display: inline-block;
  text-align: center;

  font-size: 30px;
  line-height: 60px;
  width: 60px;
  height: 60px;
  margin: 5px;

  transition: 50ms all;

  &:active {
    text-shadow: 0 0 10px $text_color;

    opacity: 0.8;
  }

  &.big {
    border-radius: 100%;
    border: 1px solid white;
    &:active {
      border-color: $highlight-color;

      box-shadow: 0px 0px 9px 0px $highlight-color;
    }

    &:hover {
      border-color: $highlight-color;
    }
  }
}

#fwd {
  background-image: $url_4;
  left: 200px;
}

#bwd {
  background-image: $url_5;
  left: 120px;
}

#menu-btn {
  background-image: $url_6;
  left: 260px;
}

#repeat {
  background-image: $url_7;
  left: 10px;
}

#playlist {
  background-image: $url_8;
  left: 310px;
}

#stop {
  background-image: $url_9;
  left: 60px;
}

#qr {
  background-image: $url_10;
  left: 118px;
}

#power {
  background-image: $url_11;
  left: 12px;
}

#settings {
  background-image: $url_12;
  left: 59px;
}

#network_settings {
  background-image: $url_12;
  top: 25px;
  left: 118px;
}

#trash {
  background-image: $url_13;
  right: 12px;
}

#add {
  background-image: $url_14;
  right: 59px;
}

#shuffle {
  background-image: $url_15;
  right: 118px;
}

#wifi {
  background-image: $url_16;
  left: 12px;
  top: 25px;
}

#ripper {
  background-image: $rip_icon;
  right: 59px;
  top: 25px;
}

#bluetooth {
  background-image: $url_17;
  left: 59px;
  top: 25px;
}

#eq_button {
  background-image: $eq_icon;
  left: 59px;
  top: 25px;
}

#radio {
  background-image: $url_18;
  right: 12px;
  top: 25px;
}

#burn {
  background-image: $burn_icon;
  right: 118px;
  top: 25px;
}