//colors
$border_color: $border_color;

.onoffswitch {
	position: relative;
	width: 90px;
}
.onoffswitch-checkbox {
	display: none;
	&:checked + .onoffswitch-label {
		.onoffswitch-inner {
			margin-left: 0;
		}
		.onoffswitch-switch {
			right: 0;
		}
	}
}
.onoffswitch-label {
	display: block;
	overflow: hidden;
	cursor: pointer;
	border: 2px solid $border_color;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 20px;
}
.onoffswitch-inner {
	display: block;
	width: 200%;
	margin-left: -100%;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: margin 0.3s ease-in 0s;
	&:before {
		display: block;
		float: left;
		width: 50%;
		height: 30px;
		padding: 0;
		line-height: 30px;
		font-size: 14px;
		//Instead of the line below you could use @include box-sizing($bs)
		box-sizing: border-box;
		content: "ON";
		padding-left: 17px;
		background-color: $highlight_color;
		color: $text_color;
	}
	
	&:after {
		display: block;
		float: left;
		width: 50%;
		height: 30px;
		padding: 0;
		line-height: 30px;
		font-size: 14px;
		font-family: $font_0, $font_1, $font_2;
		font-weight: bold;
		//Instead of the line below you could use @include box-sizing($bs)
		box-sizing: border-box;
		content: "OFF";
		padding-right: 17px;
		background-color: $background_color;
		color: $border_color;
		text-align: right;
	}
}

.onoffswitch-switch {
	display: block;
	width: 23px;
	margin: 3.5px;
	background: $background_color_highlight;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 56px;
	border: 2px solid $border_color;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 20px;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all 0.3s ease-in 0s;

  	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.118),inset 0px 0px 14px 0px rgba(0,0,0,0.5);
}