@import 'vars';
@import 'colors';
@import 'fonts';
@import 'mixins';
@import 'buttons';
@import 'forms';
@import 'sliders';
@import 'progressbar';
@import 'utils';
@import 'links';
@import 'tables';
@import 'multiselect';
$remote-margin: 45px;

body {
  margin: 0;
  padding: 0;
  font-family: $font_2, $font_3;
  color: $text_color;
  background-color: $background_color;
  font-size: $font_size;
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
}

html, body, #container {
  min-height: 100vh;
}

body {
  min-width: initial;

}

#remote-upper-bar {
  box-sizing: border-box;
  height: $remote-margin;
  width: 100%;
  background-color: $background_color;
  border-bottom: 1px solid $black_50;
  z-index: 1;
  position: relative;

  #remote-menu-btn, #remote-playlist-btn {
    width: $remote-margin;
    height: $remote-margin;
    position: absolute;
    top: 0;

    $padding: 5px;

    padding: $padding;

    font-size: ($remote-margin -$padding)/ 2 + 8px;

    vertical-align: middle;

    text-align: center;
  }

  #remote-menu-btn {
    left: 0;
  }

  #remote-playlist-btn {
    right: 0;
  }

  #remote-search-bar {
    position: relative;
    margin: 0 $remote-margin;

    baseline-shift: 2px;
    input {
      position: absolute;
      top: 5px;
      background-color: $black_20;
    }

    #results {
      position: absolute;

      top: 45px;

      z-index: 2;

      width: 100%;

      .result {
        @extend %ui_element_shadow;

        cursor: pointer;

        position: relative;

        box-sizing: border-box;

        margin: 5px 0;
        padding: 5px 5px 5px 55px;

        background-color: $background_color_highlight;

        border: 1px solid $black_50;

        border-radius: 3px;

        width: 100%;

        div {
          text-overflow: ellipsis;

          white-space: nowrap;
          overflow: hidden;
        }

        .artist {
          font-style: italic;
          color: rgba($text_color, 0.7);
        }

        img {
          position: absolute;
          top: 5px;
          left: 5px;
          width: 42px;
          height: 42px;

          border-radius: 2px;
        }
      }
    }
  }
}

#container {
  max-width: 100vw;

  margin: auto;

  position: relative;

  overflow-x: hidden;

}

%side-section {
  position: fixed;
  top: 0;

  width: 100%;
  height: 100vh;

  overflow: hidden;

  overflow-y: scroll;

  box-sizing: border-box;

  text-align: justify;

  background-color: $background_color_highlight;

  opacity: .99;

  padding: $remote-margin 0 0 0;

  border: 0 solid $black_80;
}

#playlist-section {
  @extend %side-section;

  left: 100%;
  padding-right: ($remote-margin - 1);
  border-left-width: 1px;
}

#menu-section {
  @extend %side-section;

  left: -100%;
  padding-left: $remote-margin - 1;
  border-right-width: 1px;
  overflow-y: auto;
}

#cover-container {
  width: 100%;
  padding: $remote-margin/2 $remote-margin;
  position: relative;
}

#cover-label div {
  text-align: center;
  width: 100%;
}

#cover-label {
  margin-top: $remote-margin / 4;
  margin-bottom: $remote-margin / 2;
}

#cover {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
}

#remote-controls {
  text-align: center;

  padding-left: $remote-margin;
  padding-right: $remote-margin;

  position: absolute;

  bottom: $remote-margin / 2;
  left: 0;

  width: 100%;

}

#artist {
  font-size: x-large;
}

#remote-control-placeholder {
  width: 100%;
  height: 71px;
}

#volume-slider {
  margin: 0;
}

#volume-icon {
  font-size: 20px;
  padding: 5px;
}

/* SMARTPHONES PORTRAIT */
@media only screen and (min-width: 300px) {

}

/* SMARTPHONES LANDSCAPE */
@media only screen and (min-width: 480px) {

  #container {
    max-width: 100%;
    height: 100%;
    //padding: $remote-margin / 2;
  }

  #cover-container {
    width: 50% !important;
    padding-right: $remote-margin;
    height: 100%;
    float: left;
  }

  #remote-controls {
    right: $remote-margin !important;

    left: initial;

    top: $remote-margin !important;

    width: 50% !important;
  }

  #remote-controls-placeholder {
    float: right;
    display: inline-block;
    width: 50%;
  }

}

/* TABLETS PORTRAIT */
@media only screen and (min-width: 768px) {

}

/* TABLET LANDSCAPE / DESKTOP */
@media only screen and (min-width: 1024px) {

}
