@import 'vars';
@import 'colors';
@import 'fonts';
@import 'mixins';
@import 'buttons';
@import 'forms';
@import 'sliders';
@import 'progressbar';
@import 'utils';
@import 'links';
@import 'tables';
@import 'multiselect';

$remote-margin: 35px;
$remote-margin-smaller: $remote-margin / 2;
$remote-upper-bar-height: 45px;
$sidebar-width: 350px;
$lower-bar-height: 105px;
$volume-bar-width: 250px;

body {
  margin: 0;
  padding: 0;
  font-family: $font_2, $font_3;
  color: $text_color;
  background-color: $background_color;
  font-size: $font_size;
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
}

body {
  min-width: initial;
}

#remote-upper-bar {
  box-sizing: border-box;
  height: $remote-upper-bar-height;
  width: 100%;
  background-color: $background_color;
  border-bottom: 1px solid $black_50;
  z-index: 1;
  position: relative;

  #remote-menu-btn, #remote-playlist-btn {
    width: $remote-margin;
    height: $remote-upper-bar-height;
    line-height: 39px;
    position: absolute;

    $padding: 5px;

    padding: $padding;

    font-size: ($remote-upper-bar-height - $padding) / 2 + 8px;

    vertical-align: middle;

    text-align: center;
  }

  #remote-menu-btn {
    left: 0;
  }

  #remote-playlist-btn {
    right: 0;
  }

  #remote-search-bar {
    position: relative;
    margin: 0 $remote-margin;

    baseline-shift: 2px;
    input {
      position: absolute;
      top: 5px;
      background-color: $black_20;
    }

    #results {
      position: absolute;

      top: $remote-upper-bar-height;

      z-index: 2;

      width: 100%;

      .result {
        @extend %ui_element_shadow;

        cursor: pointer;

        position: relative;

        box-sizing: border-box;

        margin: 5px 0;
        padding: 5px 5px 5px 55px;

        background-color: $background_color_highlight;

        border: 1px solid $black_50;

        border-radius: 3px;

        width: 100%;

        div {
          text-overflow: ellipsis;

          white-space: nowrap;
          overflow: hidden;
        }

        .artist {
          font-style: italic;
          color: rgba($text_color, 0.7);
        }

        img {
          position: absolute;
          top: 5px;
          left: 5px;
          width: 42px;
          height: 42px;

          border-radius: 2px;
        }
      }
    }
  }
}

#container {
  width: 100vw;

  margin: auto;

  position: relative;

  overflow-x: hidden;
}

%side-section {
  position: fixed;
  top: 0;

  width: 100%;
  height: 100vh;

  overflow: hidden;

  overflow-y: scroll;

  box-sizing: border-box;

  text-align: justify;

  background-color: $background_color_highlight;

  opacity: .99;

  padding: $remote-margin 0 0 0;

  border: 0 solid $black_80;
}

#playlist-section {
  @extend %side-section;

  left: 100%;
  padding-right: ($remote-margin - 1);
  border-left-width: 1px;
}

#menu-section {
  @extend %side-section;

  left: -100%;
  padding-left: $remote-margin - 1;
  border-right-width: 1px;
  overflow-y: auto;
}

#cover-container {
  width: 100%;
  padding: $remote-margin $remote-margin $remote-margin/3;
  position: relative;
}

#info-label div, #cover-label div {
  text-align: center;
  width: 100%;
}

#info-label {
  margin-top: $remote-margin / 4;
  margin-bottom: $remote-margin / 2;
}

#cover-label {
  display: none;
}

#cover {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  display: block;
}

#remote-controls {
  text-align: center;

  padding-left: $remote-margin;
  padding-right: $remote-margin;

  width: 100%;
}

.artist {
  font-size: x-large;
}

#remote-control-placeholder {
  width: 100%;
  height: 71px;
}

#volume-slider {
  margin: 0;
}

#volume-icon {
  font-size: 20px;
  padding: 5px;
}

.title {
  font-style: italic;
  color: $text_color_secondary;
}

.track {
  margin-top: 5px;
}

// responsive layouts

$smartphones-portrait: 300px;
$smartphones-landscape: 480px;
$tablet-portrait: 768px;
$tablet-landscape: 1024px;

/* SMARTPHONES PORTRAIT */
@media only screen and (min-width: $smartphones-portrait) and (max-width: $tablet-landscape - 1) {
  // these are the default options
}

/* SMARTPHONES LANDSCAPE */
@media only screen and (min-width: $smartphones-landscape) and (max-width: $tablet-portrait - 1) {

  #container {
    max-width: 100%;
    height: 100%;
  }

  #cover-container {
    width: 40% !important;
    padding: 0;
  }

  #remote-controls {
    position: absolute;

    right: 0;

    left: initial;

    bottom: $remote-margin-smaller;

    padding-right: $remote-margin-smaller;
    padding-left: $remote-margin-smaller;

    width: 60% !important;
  }

  #body {
    position: relative;
    padding: $remote-margin-smaller;
  }
}

/* TABLETS PORTRAIT */
@media only screen and (min-width: $tablet-portrait) {
  #cover-container {
    padding: $remote-margin;
  }

  #body {
    width: $sidebar-width;
    //margin-bottom: $lower-bar-height;
  }

  #container {
    overflow: visible;
  }

  #cover-label {
    display: block;
    padding-right: $remote-margin;
    padding-left: $remote-margin;
  }

  #info-label {
    display: none;
  }

  #remote-controls {
    position: fixed;
    bottom: 0;
    height: $lower-bar-height;

    background-color: $background_color;
  }

  #playlist-section {
    position: absolute;
    left: $sidebar-width !important;
    top: $remote-upper-bar-height + $remote-margin;

    width: calc(100% - #{$sidebar-width + $remote-margin});

    height: calc(95vh - #{$lower-bar-height + $remote-upper-bar-height + $remote-margin * 2});
    overflow: auto;

    background-color: transparent;
    opacity: 1;
    padding: 0;
    border: none;

    hr {
      display: none;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  #remote-playlist-btn {
    display: none;
  }

  .holo-btn {
    $smaller-size: 50px;
    width: $smaller-size;
    height: $smaller-size;
    line-height: $smaller-size;
    font-size: $smaller-size / 2;
  }
}

/* TABLET LANDSCAPE / DESKTOP */
@media only screen and (min-width: $tablet-landscape) {
  $lower-bar-height: 70px;

  #body {
    //margin-bottom: $lower-bar-height;
  }

  #menu-section {
    width: 25%;
  }

  #playlist-section {
    height: calc(100vh - #{$lower-bar-height + $remote-upper-bar-height + $remote-margin * 2});;
  }

  #remote-controls {
    height: $lower-bar-height;

    .progressBar {
      position: absolute;
      top: 25%;
      left: $sidebar-width;
      width: calc(100% - #{$sidebar-width + $volume-bar-width});
    }

    #buttons {
      position: absolute;
      top: 0;
      left: 0;
      padding-right: $remote-margin;
      width: $sidebar-width;
    }
  }

  #volume-group {
    position: fixed;
    background-color: $background_color;
    display: block;
    padding-left: $remote-margin;
    padding-right: $remote-margin;
    bottom: 18px;
    right: 0;
    border: none;
    width: $volume-bar-width;
    cursor: auto;

    i {
      position: absolute;
      top: 5px;
      left: 5px;
    }
  }
}