.modalBody img {
    float: right;
    height: 300px;
    width: 300px;
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.40);
    border-radius: 5px;
}

.tableContainer {
    width: 520px;
    max-height: 300px;
    overflow: hidden;
}

.addTrackToPlaylist {
    float: right;
}

th .addTrackToPlaylist {
    float: none;
}

#progressBar {
    text-align: center;
}

.text {
    margin-bottom: 15px;
}

.download-box {
    margin-top: 70px;
}

.download-link,
.download-body {
    text-align: center;
}