.slider-eq {
    height: 250px;
    display: inline-block;
    width: 10px;
    position: relative;
    margin: 15px;
    text-align: left;
}

#eq-holder {
    width: 50%;
    float: left;
    text-align: center;
}

#eq-presets {
    width: 50%;
    float: right;

    overflow: hidden;
    max-height: 270px;
}

#eq-switch-div {
    display: inline-block;
    vertical-align: middle;
}